<script>
    log=(e)=>{
        console.log("hello",e);
    }

    
    
</script>

<div class="allcontent" id="<%=item.id%>"><div class="content">
        <div class="ceinsans">
            <div class="contentcount">
                <h3>+</h3>
                <h4>10</h4>
                <h3>-</h3>
            </div>
            <div class="insans">
                <p>+</p>
            </div>
        </div>
        <div class="atd">
            <div class="dt">
                <div class="quesuploader">
                    <p>rishak</p>
                </div>
                <div class="contentdate">
                    <p>2021-01-29</p>
                </div>
            </div>
            <div class="contentques">
                <p>What is your name?</p>
            </div>
            <div class="ansContainer">
                <div class="hideans">
                    <p>-</p>
                    <p>Hide Answer</p>
                </div>
                <div class="contentans">
                    <div class="cans">
                        <div class="ansddiv">
                            <div>
                                <p>rishakg.ug19.cs@nitp.ac.in</p>
                            </div>
                            <div>
                                <p>2021-01-29</p>
                            </div>
                        </div>
                        <div class="anscontaindiv">
                            <p>gfd</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ansform">
                <div class="ansinput"><input type="text" placeholder="Answer..."></div>
                <div class="ansbtn"><button>Add Answer</button></div>
            </div>
            <div class="bottombar">
                <div class="comment" onclick="log(this)">Comment</div>
            </div>
            <div class="commentbox">
                <div class="insertcom">
                    <div class="cominput"><input type="text" placeholder="Comment..."></div>
                    <div class="combtn"><button>Post Comment</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="showcomment">
        <div id="rishakg.ug19.cs@nitp.ac.in" class="singlecomment">
            <div class="comdetails">
                <p class="commenter">rishak</p>
                <p>2021-01-29</p>
            </div>
            <p class="com">dg</p>
        </div>
    </div>
</div>