<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <link rel="stylesheet" href="css/homepage.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="manageuser.js"></script>
    </head> 

    <body onload="checkCookie()">

        <div class="login">
            <p>Login to ask question's!</p>
        </div>

        <div class="topbar">
            <h2 class="title">College Issue</h2>
            <h2 class="smalltitle">CI</h2>
            <div class="ask">
                <button onclick="askDropdown()">Ask</button>
            </div>
            <div class="search">
                <div class="stext">
                    <input type="text" placeholder="search..."  oninput="recommentdations(this)">
                </div>
                <div class="sbutton">
                    <input type="submit" value="Search" >
                </div>
            </div>
            <div class="smallsearch">
                <div>
                    <input type="submit" value="Search" class="sbutton" onclick="showsearch()">
                </div>  
            </div>
            <div class="auth">
                <div class="hideauth">
                    <button onclick="showforms(this)" name="alog">Login</button>
                    <button onclick="showforms(this)" name="asign">Create Account</button>
                </div>
            </div>
        </div>
        <div class="allrec"></div>
        <div id="dropdown">
            <form onsubmit="postques(event)">
                <div class="askform">
                    <div id="askText">
                        <input type="text" placeholder="Enter your Question..." name="question" oninput="handleChange(this)">
                    </div>
                    <div id="askSubmit">
                        <input type="submit" value="Post Question">
                    </div>
                </div>
            </form>
        </div>

        <div class="asign">
            <div class="sign">
                <form class="signform" onsubmit="signup(event);return false">
                    <input type="text" placeholder="Username" name="name" oninput="handleChange(this)">
                    <input type="password" placeholder="Password" name="password" oninput="handleChange(this)">
                    <input type="email" placeholder="Email" name="email" oninput="handleChange(this)"> 
                    <input type="submit" value="Create Account">
                </form>
            </div>
        </div>

        <div class="alog">
            <div class="sign">
                <form action="" class="signform" onsubmit="signin(event);return false;">
                    <input type="email" placeholder="Email" name="email" oninput="handleinChange(this)">
                    <input type="password" placeholder="Password" name="password" oninput="handleinChange(this)">
                    <input type="submit" value="Log in">
                </form>
            </div>
        </div>

        <div class="maincontent">
            <div class="subcontent">
            </div>
        </div>
        <script src="ask.js"></script>
        <script src="content.js"></script>
        <script>
            var dropdown=false;
            var showform={
                asign:false,
                alog:false
            }

            var ain=false;
            var aup=false;

            function showforms(target){
            var signin="alog"
            var signup="asign"
            var asign=document.getElementsByClassName("asign")[0];
            var alog=document.getElementsByClassName("alog")[0];
            var maincontent=document.getElementsByClassName('maincontent')[0];
            // console.log(target.name);
            if(target.name===signin){
                if(ain){
                    alog.style.display="none";
                    // maincontent.style.filter="none";
                    maincontent.style.display="flex"
                    ain=false;
                }else{
                    alog.style.display="block";
                    // maincontent.style.filter="blur(4px)";
                    maincontent.style.display="none"
                    ain=true;
                }
                asign.style.display="none";
                aup=false;
            }else{
                if(aup){
                    asign.style.display="none";
                    // maincontent.style.filter="none";
                    maincontent.style.display="flex"
                    aup=false;
                }else{
                    asign.style.display="block";
                    // maincontent.style.filter="blur(4px)";
                    maincontent.style.display="none"
                    aup=true;
                }
                alog.style.display="none";
                ain=false;
                }
            }

            function profile(){
                location.replace("profile.html")
            }
            addContent()
        </script>
        <script src="signup.js"></script>
        <script src="signin.js"></script>
    </body>
</html>