<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">


        <title>Profile</title>
        <link rel="stylesheet" href="css/profile.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="profile.js"></script>
        
    </head>
    <body onload="check()">
        <script src="logout.js"></script>
        <div class="topbar">
            <h2 class="title">College Issue</h2>
            <h2 class="smalltitle">CI</h2>
            <div class="ask">
                <button onclick="askDropdown()">Ask</button>
            </div>
            <div class="search">
                <div class="stext">
                    <input type="text" placeholder="search..."  oninput="recommentdations(this)" onkeyup="clearrec(this)">
                </div>
                <div class="sbutton">
                    <input type="submit" value="Search" >
                </div>
            </div>
            <div class="smallsearch">
                <input type="submit" value="Search" class="sbutton">
            </div>
            <div class="name">
                <div class="hidename">
                    <h2 onclick="account()"><%=name%> </h2>
                    <button onclick="logout()">LogOut</button>
                </div>
            </div>
        </div>
        <div class="allrec"></div>
        <div id="dropdown">
            <form onsubmit="postques(event)">
                <div class="askform">
                    <div id="askText">
                        <input type="text" required placeholder="Enter your Question..." name="question" onchange="handleChange(this)">
                    </div>
                    <div id="askSubmit">
                        <input type="submit" value="Post Question">
                    </div>
                </div>
            </form>
        </div>
        <div class="maincontent">
            <div class="subcontent">
                <%- include('container.ejs')-%>
            </div>
        </div>
        <script src="ask.js"></script>
        <script src="content.js"></script>
        <script>
            // addContent()
        </script>
    </body>
</html>