*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:lightblue;
    animation-name: bodyload;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

button{
    cursor: pointer;
    z-index: 1;
}

input[type=submit]{
    cursor: pointer;
}

.login{
    position: relative;
    display: none;
    z-index: 1;
    width: 100%;
}

.login p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    flex: 100%;
}

.topbar{
    position: sticky;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 50px;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.allrec{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 213, 213);
    top: 50px;
    left: 0;
    right: 0;
    z-index: 25;
}

.allrec div p{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(187, 145, 145);
}

.allrec div p:hover{
    background-color: rgb(124, 123, 121);
}

.title{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 220px;
    color: rgb(250, 250, 250);
    background-color: black;
    flex: 10%;
    height: 40px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.smalltitle{
    position: relative;
    display: none;
    justify-content: flex-start;
    align-items: center;
    min-width: 50px;
    color: rgb(250, 250, 250);
    background-color: black;
    flex: 10%;
    height: 40px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ask{
    display: flex;
    min-width: 60px;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    flex: 2%;
}
.ask button{
    border: 0;
    height: 40px;
    font-size: 20px;
    background-color: indianred;
    z-index: 1;
    font-weight: bolder;
    color: black;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 75%;
    height: 50px;
}

.search input{
    height: 100%;    
    border-radius: 0;
    width: 100%;
}

.search .stext{
    border: 0px;
    height: 75%;
    width: 100%;
    flex: 80%;
}

.search .stext input{
    border: none;
}

.search .stext input:focus{
    box-shadow: 0px 0px 5px 2px rgb(245, 245, 245); 
}

.search .sbutton{
    width: 100%;
    flex: 20%;
    height: 75%;
    max-width: 80px;
}

.search .sbutton input{
    width: 100%;
    border: none;
    background-color: indianred;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    height: 100%;
}

.smallsearch{
    display: none;
    align-items: center;
    justify-content: center;
    flex: auto;
    height: 50px;
}


.smallsearch div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallsearch input{
    border: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    background-color: indianred;
    text-align: center;
    height: 75%;
}

#dropdown{
    width: 100%;
    display: none;
    height: auto;
    position: sticky;
    z-index: 20;
    top: 50px;
}

.askform {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

#askText{
    flex: 90%;
    overflow-wrap: break-word;
    width: 100%;
}

#askSubmit{
    flex: 10%;
    width: 100%;
}

#asksubmit input{
    border: none;
    background-color: indianred;
    font-size: 18px;
    color: black;
}


#dropdown form input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 0;
    border: none;
}

.maincontent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    top: 30px;
    margin-bottom: 100px;
}

.allcontent{
    margin: 0 0 20px 0;
}

.subcontent{
    height: auto;
    width: 100%;
}

.content{
    display: flex;
    background-color: white;
    width: 95%;
    height: auto;
    margin: 5px auto;
}

.content div{
    background-color: rgb(255, 255, 255);
}

.atd{
    flex: 95%;
}

.dt{
    display: flex;
    justify-content: space-between;
    margin: 2px 10px 0 10px;
    border-bottom: 0.2px solid rgb(0, 0, 0);
}

.dt p{
    font-size: 12px;
    background-color: #64e1d6;
}

.content div p{
    padding: 5px;
    word-wrap: anywhere;
}

.contenttime{
    position: relative;
    height: auto;
    width: auto;
}

.contentdate{
    position: relative;
    height: auto;
}

.contentans{
    margin: 0px 10px 0px 10px;
    display: block;
}

.contentques{
    margin: 0px 10px 0px 10px;
    border-bottom: 0.2px solid rgb(8, 8, 8);
    font-size: 15px;
    background-color: rgb(218, 213, 213);
}

.contentques p{
    background-color: rgba(28, 230, 201, 0.63);
}

.cans{
    margin: 5px 0;
}

.hideans{
    display: flex;
    cursor: pointer;
    margin: 0 10px;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(88, 85, 85);
}

.hideans p{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ansddiv{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.ansddiv div{
    margin: 0;
}

.ansddiv div p{
    font-size: 10px;
}

.contentans .cans div{
    background-color: rgba(127, 255, 212, 0.637);
}

.cans{
    border-bottom: 1px solid #755f1c;
}

.ansddiv{
    border-bottom: 1px solid rgb(131, 88, 88);
}

.ceinsans{
    flex: 5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(0, 0, 0);
    margin: 5px 2px 5px 2px;
}

.insans p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgba(128, 128, 128, 0.397);
}

.contentcount{
    position: relative;
    width: auto;
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentcount h3{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottombar{
    margin: 5px 10px 5px 10px;
    display: flex;
}

.atd .bottombar{
    background-color: white;
}

.atd .dt{
    background-color: #64e1d6;
}

.bottombar div{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 2px;
}

.comment{
    width: auto;
    margin: 10px;
    cursor: pointer;
}

.commentbox{
    display:none

}
.showcomment{
    background-color: white;
    margin: 5px 20px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 4px 2px;
    max-height: 300px;
    overflow-y: auto;
}


.singlecomment{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.singlecomment .com{
    flex: 80%;
    margin: 0 3px 5px 5px;
}

.comdetails{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid rgba(15, 15, 15, 0.1);
}


.comdetails p{
    font-size: 11px;
}

.insertcom{
    display: flex;
    margin: 2px 5px;
    border: 1px solid black;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 2px 4px 2px;
}

.cominput{
    flex: 80%;
    width: 100%;
    height: 100%;
}

.combtn{
    flex: 20%;
    width: 100%;
    height: 100%;
}

.cominput input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
}

.combtn button{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-left: 1px solid black;
}

.ansform{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 2px 5px;
    border: 1px solid black;
    height: 35px;
}

.ansinput{
    flex: 80%;
    height: 100%;
}

.ansbtn{
    flex: 20%;
    width: 100%;
    height: 100%;
}

.ansinput input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
}

.ansbtn button{
    width: 100%; 
    height: 100%;
    border-radius: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-left: 1px solid black;
}


.insans{
    cursor: pointer;
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 30%;
    height: 2px;
    background-color: red;
    animation-name: loadanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 20;
}

@keyframes loadanim {
    0% {margin-left:0;background-color: rgb(121, 238, 26);}
    50% {margin-left: 70%;background-color: rgb(28, 106, 207);}
    75%{background-color: rgb(255, 0, 221);}
    100%{background-color: rgb(255, 208, 0);}
}

@keyframes bodyload{
}

.bodyloading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
