@media screen and (max-width: 765px ) {
    body {
      background-color: rgb(41, 120, 146);
    }

    .search input[type=text]{
      width: 50%;
    }

    .title{
      display: none;
    }

    .smalltitle{
      display: flex;
      flex: 2%;
    }

    .maincontent{
      width: 100%;
    }

    #askText{
      width: 50%;
    }

}

@media screen and (max-width:400px){
  .search input[type=text]{
    width: 15%;
  }
}

@media screen and (max-width:340px){
  .smallsearch{
    display: flex;
  }
  .search{
    display: none;
  }
}