@media screen and (max-width: 765px ) {
    body {
      background-color: rgb(41, 120, 146);
    }

    .title{
      display: none;
    }

    .smalltitle{
      display: flex;
      flex: 2%;
    }

    .maincontent{
      width: 100%;
    }

    #askText{
      width: 50%;
    }
    .search{
      flex: 83%;
    }

}

@media screen and (max-width:100px){
  .smallsearch{
    display: flex;
  }
  .search{
    display: none;
  }
}

@media screen and (max-width:601px){
  .auth{
    position: absolute;
    top: 50px;
    right: 0;
    height: 20px;
  }

  .auth button{
    margin: 0 0 0 5px;
    height: 100%;
  }

  .name{
    position: absolute;
    top: 50px;
    right: 0;
    height: 20px;
    margin-right: 0;
  }

}